*{
    margin:0px;
    padding:0px;
}

.container{
    margin-top:50px;
    color:white;
    padding:100px;
    background-color:rgb(95, 161, 161);
    opacity: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.meninaimg{
        position: absolute; 
        right: 180px; /* posiciona a 90px para a esquerda */ 
        top: 230px; /* posiciona a 70px para baixo */
        width: 300px;
        height: 290px;
        opacity: 90%;
        }