* {
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    color: rgb(0, 0, 0);
    padding: 40px;
    background-color: rgb(255, 255, 255);
    opacity: 100%;
    height: 560px;
    background-image: url(../../assets/imagens/testeForm.jpg);
}

.form-control {
    background-color: rgb(235, 235, 235);
    font-size: 14px;
    height: 35px;
}

#texto1 {
    margin-top: 300px;
    font-family: 'Cuprum', sans-serif;
    margin-bottom: 20px;
}

#texto2 {
    font-family: 'Cuprum', sans-serif;
}
#teste{
    padding-top:30px;
}