
<div class="container">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="form-control" id="nome1" >Nome</label>
        <input [(ngModel)]="nome" type="text" class="form-control" id="nome" placeholder="Nome">
      </div>
      <span *ngIf='_msgErro'>{{_msgNome}}</span><!--Mensagen de erro para nome vazio-->





      <div class="form-group col-md-4">
        <label for="form-control" id="sobrenome1">Sobrenome</label>
        <input [(ngModel)]="sobrenome" type="text" class="form-control" id="sobrenome" placeholder="Sobrenome">
      </div>
      <span *ngIf='_msgErro'>{{_msgSobrenome}}</span><!--Mensagen de erro para nome vazio-->
    </div>








    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="exampleInputEmail1">E-mail</label>
        <input  [(ngModel)]="email" type="email" class="form-control" id="email1" placeholder="Insira seu e-mail...">
        <span *ngIf='_msgErro'>{{_msgEmail}}</span><!--Mensagen de erro para nome vazio-->
      </div>
      <div class="form-group col-md-4">
        <label for="exampleInputEmail1">Telefone</label>
        <input [(ngModel)]="telefone" type="tel" class="form-control" id="telefone" placeholder="(XX) 99999-9999">
        <span *ngIf='_msgErro'>{{_msgTelefone}}</span><!--Mensagen de erro para nome vazio-->
      </div>
    </div>



    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCity">Cidade</label>
        <input [(ngModel)]="cidade" type="text" class="form-control" id="cidade1" placeholder="Sua cidade...">
        <span *ngIf='_msgErro'>{{_msgCidade}}</span><!--Mensagen de erro para nome vazio-->
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Estado</label>
        <select  [(ngModel)]="estado" id="inputState" class="form-control">
          <option selected>Escolha...</option>
          <option>SP</option>
          <option>AC</option>
          <option>AL</option>
          <option>AP</option>
          <option>AM</option>
          <option>BA</option>
          <option>CE</option>
          <option>DF</option>
          <option>ES</option>
          <option>GO</option>
          <option>MA</option>
          <option>MT</option>
          <option>MS</option>
          <option>MG</option>
          <option>PA</option>
          <option>PB</option>
          <option>PR</option>
          <option>PI</option>
          <option>RJ</option>
          <option>RN</option>
          <option>RS</option>
          <option>RO</option>
          <option>RR</option>
          <option>SC</option>
          <option>SE</option>
          <option>TO</option>
        </select>
        <span *ngIf='_msgErro'>{{_msgEstado}}</span><!--Mensagen de erro para nome vazio-->
      </div>
    </div>
    <div class="form-group">
    <div class="row">
      <div class="col-md-8">
        <label for="exampleFormControlTextarea1">Mensagem</label>
        <textarea [(ngModel)]="msg" class="form-control" id="mensagem" rows="4" maxlength="1200" placeholder="Digite sua mensagem..."></textarea>
      </div>
      <span *ngIf='_msgErro'>{{_msgTexto}}</span><!--Mensagen de erro para nome vazio-->
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Desejo receber novidades sobre o site.
        </label>
      </div>
    </div>


    <button type="button" class="btn btn-primary" (click)="pesquisar();">Enviar</button>
  </div>



