
        .searchbar{
        margin-bottom: 5px;
        margin-top:5px;
        height: 60px;
        background-color: #695BC8;
        border-radius: 30px;
        padding: 10px;
        }
    
        .search_input{
        color: #8184D5;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color:transparent;
        line-height: 40px;
        transition: width 0.4s linear;
        }
    
        .searchbar:hover > .search_input{
        padding: 0 10px;
        width: 450px;
        caret-color:#BF40B3;
        transition: width 0.4s linear;
        }
    
        .searchbar:hover > .search_icon{
        background: #8184D5;
        color: #f3250e;
        }
    
        .search_icon{
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:rgb(155, 144, 144);
        text-decoration:none;
        }
        #pesquisado{
            border: solid 20px aqua;
        }

        /*Estilo do container e cards centralizados no feed centralizado*/
       /* #BlocoDeProduto{
            position: relative;
            background: #3DB8B6;
            border-radius: 10px;
            height: 500px;
            width: 90%;
            margin: 0 auto;
            padding: 20px;
            resize: both;
            overflow: auto;
            box-shadow: 5px 10px #6ECFBD;
        }*/
        /*.cardDeProduto{
            
            width: 33%;
            height: 100px;
            float: right;
            margin: 80px 0 0 -120px;
            top: 50%;
            left: 30%;
            padding: 20px;
        }*/
