<div class="container" id="conteudo">
    <div class="row">
        <div class="col-md-12 d-block bg-white">

            Usuario: <input type="text" [(ngModel)]="projeto.nomeEmp"><br/>
            Email: <input type="text" [(ngModel)]="projeto.emailEmp"><br/>
            Telefone: <input type="text" [(ngModel)]="projeto.telefoneEmp"><br/>
            Senha: <input type="text" [(ngModel)]="projeto.senhaEmp"><br/>

            <button (click)="enviarAlteracoes();">Enviar alterações</button>

        </div>
    </div>
</div>
