<div class="container pagina">
    <div class="row">
        <div class="col-md-12 d-block bg-light">

            Usuario: <input type="text" [(ngModel)]="usuario.nome"><br/>
            Email: <input type="text" [(ngModel)]="usuario.email"><br/>
            Telefone: <input type="text" [(ngModel)]="usuario.telefone"><br/>
            Senha: <input type="text" [(ngModel)]="usuario.senha"><br/>

            <button (click)="enviarAlteracoes();">Enviar alterações</button>

        </div>
    </div>
</div>
