<div class="container-fluid" id="sessaoFAQ">
    <div class="row">
        
        <div class="col-md-6">
                <h3 id="faq">Perguntas Frequentes</h3>
            <!--Collapse com as perguntas e respostas-->
            <div class="bs-example mt-1 mb-1">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-light" style="font-size: 14px" data-toggle="collapse"
                                    data-target="#collapseOne">1. O que é necessário para incluir um projeto/ideia na
                                    nossa plataforma?</button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Para incluir seu projeto em nossa plataforma, é necessário ser aprovado em nosso
                                    processo de seleção.
                                    Nós selecionamos ideias que acreditamos estarem alinhadas com o nosso propósito.
                                    A B.Lieve On acredita em ideias inovadoras que possuam algum diferencial tecnológico
                                    e de impacto social.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-light collapsed" data-toggle="collapse"
                                    data-target="#collapseTwo" style="font-size: 14px">2. Quais são as etapas do processo?</button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>I) Aprovação da ideia</p>
                                <p>O empreendedor deve preencher um formulário confidencial com informações sobre a
                                    ideia e oportunidade de investimento e submeter ao B.Lieve On. Em até 5 dias úteis
                                    retornamos com a resposta.</p>
                                <p>II) Preenchimento básico do perfil</p>
                                <p>
                                    O primeiro contato dos investidores com os projetos da startup é através da
                                    plataforma na B.Lieve On. Por isso, o perfil deve ser preenchido de modo a despertar
                                    o interesse destes investidores =)</p>
                                <p>III) Materiais de diligência </p>
                                <p>
                                    Submeta os documentos necessários e da oferta para aprovação da B.Lieve On. Além dos
                                    documentos obrigatórios, temos uma lista de documentos complementares que
                                    recomendamos que publiquem para facilitar a diligência dos investidores =)</p>
                                <p><b>Rodada aprovada, perfil completo e documentos de diligência atualizados? Vamos
                                        captar!</b></p>
                                <p>IV) Divulgação</p>
                                <p>Através da página de divulgação dos projetos, você pode visualizar quem tem acesso à
                                    sua oferta/ideia e acompanhar o andamento dos investimentos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-light collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" style="font-size: 14px">3. Posso alterar as informações depois do projeto estar
                                    inserido na plataforma?</button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Sim!</p>
                                <p>Para editar as informações depois do projeto inserido, entre em contato com a equipe
                                    do B.Lieve On que nós analisaremos o mais rápido possível a sua solicitação.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-light collapsed" data-toggle="collapse"
                                    data-target="#collapseFour" style="font-size: 14px">4. Quais os deveres das start-ups que captam
                                    online?</button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>• Certificar que as informações fornecidas são verdadeiras e consistentes.</p>

                                <p>• Compartilhar as informações necessárias sobre a oferta/negócio, conforme
                                    estabelecido na legislação.</p>

                                <p>• Comunicar à plataforma, no prazo de 5 dias, a ocorrência dos seguintes eventos: a)
                                    encerramento das atividades; b) alteração no objetivo do plano de negócios; c)
                                    qualquer outro evento que ocasionaria o pagamento aos investidores ou vencimento
                                    antecipado dos contratos.</p>

                                <p>• Seguir as demais obrigações previstas no contrato de prestação de serviços firmado
                                    com a B.lieve On.</p>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-light collapsed" data-toggle="collapse"
                                    data-target="#collapseFive" style="font-size: 14px">5. Como funciona o recebimento do investimento?</button>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Quando o investidor demonstra interesse no projeto, ele transfere o valor reservado para a conta da B.Lieve On, informada na plataforma.</p>
                                    <p>No momento que o projeto alcança o valor do investimento, nós fazemos a transferência do total investido diretamente para a conta do empreendedor.
                                    Caso a empresa não atingir o valor mínimo necessário para receber o capital, os investidores serão reembolsados com o valor transferido.</p>
                                    <p>Todo o processo de chamada de capital e assinatura dos contratos é feito online, de modo rápido e prático.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-light collapsed" data-toggle="collapse"
                                    data-target="#collapseSix" style="font-size: 14px">6. Porque devo investir em startups?</button>
                            </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Cada investidor tem suas razões pessoais para investir em startups, e a nossa é apoiar empreendedores e ideias que acreditamos, dedicados a causas com as quais nos identificamos, e que tenham uma boa chance de gerar um retorno financeiro e social ao se tornar realidade.</p>
                                <p>Além do retorno financeiro, ao investir em startups, você está gerando novos empregos, investindo na comunidade e em inovações que melhoram o futuro das pessoas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-light collapsed" data-toggle="collapse"
                                    data-target="#collapseSeven" style="font-size: 14px">7. Qual o valor mínimo do investimento?</button>
                            </h2>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>O investimento mínimo via B.Lieve On é de <b>R$500,00</b>, porém os empreendedores podem estabelecer valores mínimos superiores em seus projetos. 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingEight">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-light collapsed" data-toggle="collapse"
                                    data-target="#collapseEight" style="font-size: 14px">8. Como funciona o processo de investimento na B.Lieve On?</button>
                            </h2>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Após a análise da oportunidade, você deve fazer uma reserva de investimento e assinar o termo de ciência.</p>
                                <p>Em seguida, emitimos o contrato de investimento, que pode ser assinado digitalmente, e enviamos as instruções de pagamento.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingNine">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-light collapsed" data-toggle="collapse"
                                    data-target="#collapseNine" style="font-size: 14px">9. Como funciona emissão e assinatura de contratos de investimento?</button>
                            </h2>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Os contratos de investimento são emitidos automaticamente em no máximo 24 horas depois que o investidor demonstrar interesse em apoiar um dos projetos.</p>
                                <p>Quando emitidos, os contratos são enviados via e-mail pela equipe da B.Lieve On.</p>
                                <b>A assinatura do contrato é digital - não há versão impressa. Certifique-se de que assinou todos os seus contratos para validar o seu investimento.</b>
                                    
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTen">
                            <h2 class="mb-0">
                                <button type="button" class="btn btn-light collapsed" data-toggle="collapse"
                                    data-target="#collapseTen" style="font-size: 14px">10. Como funciona o pagamento do valor investido?</button>
                            </h2>
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>O investidor transfere o valor reservado para uma conta de pagamentos informada na plataforma da B.Lieve On. A empresa investida receberá o valor total quando alcançar a meta mínima estabelecida. Se a empresa não atingir a meta mínima, nós reembolsamos 100% do valor ao investidor.</p>
                                <b>O investimento é confirmado pela assinatura do “contrato de investimento” (gerado no momento da solicitação do apoio). Após a confirmação do investimento, o investidor tem 7 dias para desistir, sem qualquer multa ou penalidade.</b></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
                <h3 id="duvidas">Ainda tem dúvidas?</h3>
                <p>Entre em contato, um de nossos consultores <br> responderá em breve.</p>
            <form class="form">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="form-control" id="nome1"></label>
                        <input [(ngModel)]="nome" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                            id="nome" placeholder="Nome:">
                        <span id="msgErro" *ngIf='_msgNome'>{{_msgNome}}</span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1"></label>
                        <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email"
                            class="form-control" id="email1" placeholder="Insira seu e-mail:">
                        <span id="msgErro" *ngIf='_msgEmail'>{{_msgEmail}}</span>
                        <!--Mensagen de erro para nome vazio-->
                    </div>
                </div>
                    <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1"></label>
                        <input [(ngModel)]="telefone" [ngModelOptions]="{standalone: true}" type="tel"
                            class="form-control" id="telefone" placeholder="Telefone:" maxlength="15" (keyup)="formataTel()">
                        <span id="msgErro" *ngIf='_msgTelefone'>{{_msgTelefone}}</span>
                        <!--Mensagen de erro para nome vazio-->
                    </div>
                </div>
                <div class="form-row ">
                
                        <div class="col-md-6">
                            <label for="exampleFormControlTextarea1"></label>
                            <textarea [(ngModel)]="msg" [ngModelOptions]="{standalone: true}" class="form-control"
                                id="mensagem" rows="3" maxlength="1200" placeholder="Digite sua mensagem:"></textarea>
                            <span id="msgErro" *ngIf='_msgTexto'>{{_msgTexto}}</span>
                            <!--Mensagen de erro para nome vazio-->
                        </div>
                    </div>
                
                <button type="button" class="btn btn-primary mt-3 mb-3"
                    (click)="pesquisar();">Enviar</button>
            </form>
        </div>
    </div>
</div>