<div class="container">
    <h6 id="adicionar">Adicionar projetos</h6>
    <img type="button" src="../../assets/imagens/plus button.png" height="60px;"width="60px;" id="addButton" alt="Adicionar Projeto" [routerLink]="'/cadastrarProjeto'">
</div>

<div class="container emp-profile" *ngFor = 'let p of projeto'>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{{p.imagens}}"
                    alt="" />
                <div class="file btn btn-lg btn-primary">
                    (nome do projeto)
                    <input type="file" name="file" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    {{p.titulo}}
                </h5>
                <h6>
                    {{p.resumo}}
                </h6>
                <p class="proile-rating">(META): <span>R$ {{p.meta}}</span></p>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Sobre</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <a [routerLink]="['/editaProjeto', p.id]" type="submit" class="profile-edit-btn" name="btnAddMore">Editar Projeto:</a>
            <a (click)="deletarProjeto()" type="submit" class="profile-edit-btn" name="btnAddMore"> Deletar Projeto </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-work">
                <p>Na Web:</p>
                <a href="">Site</a><br />
                <a href="">Facebook</a><br />
                <a href="">Instagram</a>
                <p>Referências:</p>
                <a href="">Repostagem 1:</a><br />
                <a href="">Repotagem 2:</a><br />
            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Id:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{p.id}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Empreendedor:</label>
                        </div>
                        <div class="col-md-6">
                            <p>(nome do responsável)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email:</label>
                        </div>
                        <div class="col-md-6">
                            <p>(email do responsável)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Telefone:</label>
                        </div>
                        <div class="col-md-6">
                            <p>(telefone do responsável)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Descrição:</label>
                        </div>
                        <div class="col-md-6">
                            <p>(descrição detalhada do projeto)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
