<div class="container" id="conteudo">
        <div class="row">
            <div class="col-md-12 d-block bg-white">
    
               id: <input type="text" [(ngModel)]="idAlimenta"><br/>
                imagem: <input placeholder=" digite o link da img" type="text" [(ngModel)]="imagensAlimenta"><br/>
                Titulo: <input type="text" [(ngModel)]="tituloAlimenta"><br/>
                Descrição: <input type="text" [(ngModel)]="descricaoAlimenta"><br/>
                Resumo: <input type="text" [(ngModel)]="resumoAlimenta"><br/>
                Meta: <input type="text" [(ngModel)]="metaAlimenta"><br/>
    
                <button (click)="enviarAlteracoes()">Postar</button>
    
            </div>
        </div>
    </div>
    