<div class="container" id="conteudo">
        <div class="row">
            <div class="col-md-12 d-block bg-white">
    
               id: <input type="text" [(ngModel)]="projeto.id"><br/>
                imagem: <input placeholder=" digite o link da img" type="text" [(ngModel)]="projeto.imagens"><br/>
                Titulo: <input type="text" [(ngModel)]="projeto.titulo"><br/>
                Descrição: <input type="text" [(ngModel)]="projeto.descricao"><br/>
                Resumo: <input type="text" [(ngModel)]="projeto.resumo"><br/>
                Meta: <input type="text" [(ngModel)]="projeto.meta"><br/>
    
                <button (click)="enviarAlteracoes()">Postar</button>
    
            </div>
        </div>
    </div>
    