
<section class="sobreNos">
    <div class="container">
        <div class="row">
            <div class="col-md-4 sobre caixa">
                    <h2 class="text-center">Sobre Nós</h2>
                    <p class="text-center">Somos um grupo de jovens sonhadores e realistas, assim observamos que nem só de sonhos vive uma empresa. Temos o intuito de apoiar empreendedores que sonham muito, mas possuem pouco capital. Conectamos investidores que acreditam na mudança social e podem investir  verba para que sonhadores possam colocar seus planos em prática. Assim nasceu a inovadora BelieveOn. Onde sonhos deixam de existir... e se tornam realidade!</p>
            </div>
            <div class="col-md-8 banner-sec">
                    <div>
                        <div>
                            <img class="d-block img-fluid" src="../../assets/imagens/bussiness.jpg"
                                alt="First slide">
                            <div class="">
                                <div class="banner-text">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>

<!-------------------------CARD----------------------------------------------------------->

<section  class="sobreIntegrantes">
        <div class="container">
                <div class="row">
                    <div class="col-md-6 sobre caixa">


                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                    <div class="mainflip">
                                        <div class="frontside">
                                            <div class="card">
                                                <div class="card-body text-center">
                                                    <p><img class=" img-fluid" src="../../assets/imagens/fernanda.png" alt="card image"></p>
                                                    <h4 class="card-title">Fernanda</h4>
                                                    <p class="card-text">Saiba mais sobre a Fernanda</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="backside">
                                            <div class="card">
                                                <div class="card-body text-center mt-4">
                                                    <h4 class="card-title">Fernanda</h4>
                                                    <p class="card-text">This is basic card with image on top, title, description and
                                                        button.This is basic
                                                        card with image on top, title, description and button.This is basic card with image
                                                        on top, title,
                                                        description and button.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            
                    </div>
                    <div class="col-md-6 caixa">
                            <div>
                                <div>
                                    


                                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                                <div class="mainflip">
                                                    <div class="frontside">
                                                        <div class="card">
                                                            <div class="card-body text-center">
                                                                <p><img class=" img-fluid" src="../../assets/imagens/Romulo.jfif" alt="card image"></p>
                                                                <h4 class="card-title">Romulo da Conceição da Silva</h4>
                                                                <p class="card-text">Saiba mais sobre o Romulo</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="backside">
                                                        <div class="card">
                                                            <div class="card-body text-center mt-4">
                                                                <h4 class="card-title">Romulo da Conceição da Silva</h4>
                                                                <p class="card-text">Sou um entusiasta da tecnologia, que no momento está estudando desenvolvimento web. Entrei nessa caminhada por gostar de programação e por acreditar que a educação unida a oportunidades gera transformação na vida das pessoas, sendo assim todas as oportunidades que encontrei as abracei, conquistando assim meus objetivos e sempre absorvendo tudo que fosse de positivo.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-6 caixa">
                                <div>
                                    <div>
                                            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                                    <div class="mainflip">
                                                        <div class="frontside">
                                                            <div class="card">
                                                                <div class="card-body text-center">
                                                                    <p><img class=" img-fluid" src="../../assets/imagens/guilherme.png" alt="card image"></p>
                                                                    <h4 class="card-title">Guilherme</h4>
                                                                    <p class="card-text">Saiba mais sobre o Guilherme</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="backside">
                                                            <div class="card">
                                                                <div class="card-body text-center mt-4">
                                                                    <h4 class="card-title">Guilherme</h4>
                                                                    <p class="card-text">This is basic card with image on top, title, description and
                                                                        button.This is basic
                                                                        card with image on top, title, description and button.This is basic card with image
                                                                        on top, title,
                                                                        description and button.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
    
    
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-6 sobre caixa">
                                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid" src="../../assets/imagens/gabi.jfif" alt="card image"></p>
                                                        <h4 class="card-title">Gabriele</h4>
                                                        <p class="card-text">Saiba mais sobre a Gabriele</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="backside">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">Gabriele</h4>
                                                        <p class="card-text">This is basic card with image on top, title, description and
                                                            button.This is basic
                                                            card with image on top, title, description and button.This is basic card with image
                                                            on top, title,
                                                            description and button.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
    
                                
                        </div>
                </div>
            </div>

</section>

<!-------------------------CARD----------------------------------------------------------->



<section class="sobreSucesso">
        <div class="container">
                <div class="row">
                    
                    <div class="w-col col-md-6  sobre caixa">

                        <h2 class="text-center">Casos de Sucesso</h2>
                    <p class="text-center"> Descubra nossos</p>


                    </div>
                    <div class="w-col col-md-6 mt-4 block-content-insights">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <div class="card mb-4">
                                    <img class="card-img-top" src={{post1.linkFoto}} alt="Card image cap">
                                    <div class="card-body">
                                       <h5 class="card-title">{{post1.nomeProj}}</h5>
                                       <p class="card-text">{{post1.descricaoProj}}</p>
                                       <a href="#" class="btn btn-outline-dark btn-sm">Go somewhere</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="carousel-item">
                                <div class="card mb-4 border-dark">
                                    <img class="card-img-top" src={{post2.linkFoto}} alt="Card image cap">
                                    <div class="card-body">
                                       <h5 class="card-title">{{post2.nomeProj}}</h5>
                                       <p class="card-text">{{post2.descricaoProj}}</p>
                                       <a href="#" class="btn btn-dark btn-sm">Go somewhere</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="carousel-item">
                                <div class="card mb-4 text-white bg-dark">
                                    <img class="card-img-top" src={{post3.linkFoto}} alt="Card image cap">
                                    <div class="card-body">
                                       <h5 class="card-title">{{post3.nomeProj}}</h5>
                                       <p class="card-text">{{post3.descricaoProj}}</p>
                                       <a href="#" class="btn btn-outline-light btn-sm">Go somewhere</a>
                                    </div>
                                 </div>
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div>
                </div>
            </div>
</section>





