<div class="container">
    <div class="row">
      <div class="col md-6" id="caixasobreNos">
        <div class="row" id="textosobreNos">Sobre Nós</div>
      </div>

      <div class="col md-6" id="caixanos">
        <div class="container" id="imagens">
          <div class="row" id="fernanda">
            <div class="col" id="foto">
              <img id="imgFernanda" src="./../../assets/imagens/fernanda.png" class="image">
              <div class="overlay">
                <div class="text">Lorem ipsum Lorem ipsum Lorem ipsum v</div>
              </div>
            </div>
          </div>

          <div class="row" id="Guilherme">
            <div class="col" id="foto">
              <img id="imgFernanda" src="./../../assets/imagens/guilherme.png" class="image">
              <div class="overlay">
                  <div class="text">Lorem ipsum Lorem ipsum Lorem ipsum v</div>
                </div>
            </div>
          </div>

          <div class="row" id="gabi">
            <div class="col" id="foto">
              <img id="imgFernanda" src="./../../assets/imagens/gabi.jfif" class="image">
              <div class="overlay">
                  <div class="text">Lorem ipsum Lorem ipsum Lorem ipsum v</div>
                </div>
            </div>
          </div>

          <div class="row" id="romulo">
            <div class="col" id="foto">
              <img id="imgFernanda" src="./../../assets/imagens/Romulo.jfif" class="image">
              <div class="overlay">
                  <div class="text">Lorem ipsum Lorem ipsum Lorem ipsum v</div>
                </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

