* {
    margin: 0%;
    padding: 0%
}

#myFooter .footer-social {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: #2B3A41;
}
#myfooter{
    display:flex;
    align-items:flex-end;
    width:100%;
}
#myFooter .fa {
    font-size: 16px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: #628076;
    color: #B1E6D4;
    border-radius: 51%;
    padding: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 11px;
    text-decoration: none;
    transition: color 0.2s;
}

#myFooter .fa-facebook:hover {
    color: #2b55ff;
}

#myFooter .fa-facebook:focus {
    color: #2b55ff;
}

#myFooter .fa-instagram:hover {
    color: purple;
}

#myFooter .fa-instagram:focus {
    color: purple;
}

#myFooter .fa-youtube:hover {
    color: red;
}

#myFooter .fa-youtube:focus {
    color: red;
}

#myFooter .fa-twitter:hover {
    color: #00aced;
}

#myFooter .fa-twitter:focus {
    color: #00aced;
}



